.header{
    margin: auto;
    border: 1px solid;
    text-align: center;
}
#name {
    font-size: 18px;
    font-family: Verdana;
}
ul#menu li {
    margin: 5px;
    text-align: center;
    display: inline;
}
a {
    color: red;
    text-decoration: none;
}

.body{
    width: 400px;
    margin:auto;

}